@font-face {
  font-family: "Noto Naskh Arabic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fa-regular-400.ttf");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fa-brands-400.ttf");
}
@font-face {
  font-family: "Noto Kufi Arabic Bold";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fa-solid-400.ttf");
}
