<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">
  </head>

  <body>
    <form class="imaged-form">
      <div>
        <label for="task">ادخل المهمة الجديدة</label>
        <input type="text" class="note" autofocus required>
      </div>
      <div>
        <button class="img-upload">ارفق الصورة</button>
      </div>
      <div>
        <label>او ادخل رابط الصورة</label>
        <input type="url" class="url-img__input">
      </div>
      <button type="submit">اضافة مهمة</button>
    </form>

    <script src="../assets/js/imagedScript.js"></script>
  </body>

</html>